@font-face {
	font-family: 'Main';
	src: url("./fonts/Main.ttf") format('truetype');
}

@font-face {
	font-family: 'Wide';
	src: url("./fonts/Wide.ttf") format('truetype');
}

body {
	position: relative;
  background-color: #fff;
  font-family: 'Main';
  padding: 10px;
	min-height: 2000px;
}

* {
	box-sizing: border-box;
}

a {
	color: #000;
	text-decoration: none;
}

a:hover {
	font-style: italic;
}

h2 {
	margin: 0;
}

.favorite {
	position: fixed;
}

.favorite br {
	display: none;
}

.favorite span {
	cursor: url('./images/face.png'), auto;
}

.items {
	margin-left: 105px;
	line-height: 1.5;
}

.wrapper {
	padding: 10px 10px 10px 0;
	margin-bottom: 20px;
	position: relative;
}

img {
	transition: 0.15s linear width;
	position: fixed;
	top: 0;
	border-top: 5px solid #fff;
	border-right: 5px solid #fff;
}

img.resizeImage {
	width: auto !important;
	height: 200px;
}

.imagesLoading img {
	opacity: 0.3 !important;
}

.notHoveringImage img {
	opacity: 1 !important;
}

@media only screen and (min-width: 1600px) {
	img {
		width: 400px !important;
	}

	img.resizeImage {
		width: auto !important;
		height: 400px;
	}
}

@media only screen and (max-width: 1000px) {
	img {
		width: 100px !important;
	}

	img.resizeImage {
		width: auto !important;
		height: 100px;
	}
}

@media only screen and (min-width: 901px) {
	.imagesLoading {
		pointer-events: none;
	}
}

@media only screen and (max-width: 900px) {
	img {
		display: none;
	}
}

aside,
.favorite {
	font-family: 'Wide';
}

aside {
	text-decoration: underline;
  vertical-align: top;
  position: relative;
}

aside h2 {
  position: -webkit-sticky;
  position: sticky;
	/* top: 18px; */
	top: 45px;
	line-height: 1;
}

article,
aside {
	display: inline-block;
}

article {
	width: 75%;
}

aside {
	width: 15%;
}

@media only screen and (max-width: 767px) {
	.favorite {
		position: relative;
	}

	.favorite br {
		display: block;
	}

	.items {
		margin-left: 0;
	}

	article,
	aside {
		width: 100%;
		height: auto !important;
	}

	aside h2 {
		position: relative;
		top: 0;
	}
}

ul {
  list-style-type: none;
  margin-top: 5px;
	display: inline-block;
}

ul li::before {
  content: '- ';
}

ul li.photoless::after {
  content: '*';
}

/* ul li ul li::before {
  content: '= ';
} */

@media only screen and (max-width: 767px) {
	ul {
		margin-top: 15px;
	}
}

footer {
	position: absolute;
	bottom: 10px;
}
